<div class="container mt-5">
  <div class="row">
    <div *ngFor="let tempQuiz of quizes" class="col-md-4">
      <div class="card" >
        <img
          src="{{ tempQuiz.imageUrl }}"
          class="card-img-top"
          alt="Quiz Image"
        />
        <div class="card-body text-center">
          <h5 class="card-title">
            <b>{{ tempQuiz.name }}</b>
          </h5>
          <hr style="background-color: brown;"/>
          <p class="card-text">
            <b>{{ tempQuiz.description }}</b>
          </p>
          <a
            routerLink="/quiz/{{ tempQuiz.name }}"
            class="btn btn-outline-primary"
            ><b>Give {{ tempQuiz.name }} Quiz</b></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
